@model IEnumerable<DataLibary.Models.SeatModel>

@{
    ViewBag.Title = "SeatsData";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
</head>
<body>

    <div id="SeatsList">
        <div id="tv">
            <img src="~/Content/images/Tv.jpg">
        </div>

        @foreach (var item in Model)
        {
            if (item.IsReserve)
            {
                <div class="SeatFalse">
                    @item.NumberSeat
                </div>
            }
            else
            {
                <div class="SeatTrue">
                    @item.NumberSeat
                </div>
            }
        }


        @Html.Partial("Reserve", new SystemOfBookingSeats_v3.Models.PersonModelUI())

    </div>
</body>
