@model IEnumerable<DataLibary.Models.SeatModel>

@{
    ViewBag.Title = "SeatsData";
}


<head>
    <meta charset="utf-8" />
    <meta name="author" content="Przemyslaw Pukala" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/NewStyle.css" />
</head>

<body>

    <div class="movies">
        <div class="container">

            <div id="tv">
                <figure>
                    <img src="~/Content/images/Tv.jpg">
                </figure>
            </div>
        </div>
        <div id="seats">

            @foreach (var item in Model)
            {
                if (item.IsReserve)
                {<div class="seatFalse">
                        @item.NumberSeat
                    </div>
                }
                else
                {
                    <div class="seatTrue">
                        @item.NumberSeat
                    </div>
                }

            }
        </div>

        @Html.Partial("Reserve", new SystemOfBookingSeats_v3.Models.PersonModelUI())


    </div>


</body>
